* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  button {
    margin: 30px;
    height: 30px;
    width: 80px;
    border-radius: 15px;
  }

  select {
    margin: 30px;
    height: 30px;
    width: 120px;
  }

  #h1{
    display: flex;
    justify-content: center;
  }

  #container {
    display: grid;
    column-gap: 50px;
    row-gap: 90px;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50px auto auto auto auto;
  }

  #qbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
  }

  #qbox p {
    font-size: 200%;
  }

  #buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #other {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    grid-row: 1 / span 5;
    grid-column: 2 / span 1;
  }